# Copy this file to .env and edit the settings

# Port to listen on (example: 3000)
PORT=

# MongoDB database URL (example: mongodb://localhost/dbname)
DATABASE_URL=

# Session secret string (must be unique to your server)
SESSION_SECRET=
ANTHROPIC_API_KEY='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'
